{% extends 'auth_layout.html' %} {% block auth %}
<div class="title mt-3">
  <h1>Target Management</h1>
  <p>自分の目標を管理・他者と共有することで、目標達成をサポートするサービスです。</p>
</div>
<h1>ログイン</h1>
<div class="login-form-container">
  <form method="POST">
    {% csrf_token %}
    <div class="form-group mb-0">
      <p>ユーザーネーム</p>
      {{ form.username }}
    </div>
    <div class="form-group mb-3">
      <p>パスワード</p>
      {{ form.password }}
    </div>
    <button type="submit" class="btn btn-sm btn-outline-primary">
      ログイン
    </button>
  </form>
  <p class="mt-2">
    Or
    <a href="{% url 'django_registration_register' %}">新規登録はこちらから</a>
  </p>
</div>
<div>
  <p>以下のユーザーネーム、パスワードをご使用ください</p>
  <p>ユーザーネーム：test</p>
  <p>パスワード：testuser</p>
</div>
{% endblock %}
