{% load static %}
<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Target Management</title>
  <link rel="shortcut icon" type="image/png" href="{% static 'favicon.png' %}"/>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&family=Recursive&display=swap" rel="stylesheet">
  {% block style %}
  {% endblock %}
</head>

<body>
  {% block content %}
  {% endblock %}

  {% block js %}
  {% endblock %}
</body>

</html>