{% extends 'auth_layout.html' %} {% block auth %}
<div id="registration" class="title mt-3">
  <h1>Target Management</h1>
  <p>自分の目標を管理・他者と共有することで、<br>目標達成をサポートするサービスです。</p>
</div>
<h3>アカウントを作成しましょう</h3>
<div class="registration-form-container">
  <form method="POST">
    {% csrf_token %}
    <div class="form-group mb-0">
      <p>ユーザーネーム</p>
      {{ form.username }}
      <p class="input-rule">半角アルファベット、半角数字のみ使用してください</p>
    </div>
    <div class="form-group mb-0">
      <p>メールアドレス</p>
      {{ form.email }}
    </div>
    <div class="form-group mb-0">
      <p>パスワード</p>
      {{ form.password1 }}
      <p class="input-rule">
        パスワードは最低8文字以上必要です。<br />数字だけのパスワードにはできません。
      </p>
    </div>
    <div class="form-group mb-0">
      <p>パスワード(確認用)</p>
      {{ form.password2 }}
      <p class="input-rule">確認のため、再度パスワードを入力してください</p>
    </div>
    <button type="submit" class="btn btn-sm btn-outline-primary">
      新規登録
    </button>
  </form>
  <p class="mt-2">Or <a href="{% url 'login' %}">ログイン</a></p>
</div>
{% endblock %}

